/*
 * -----------------------------------------------------------------------------
 * Foundation
 * -----------------------------------------------------------------------------
 */

/*
 * Don't use Normalize.css or CSS Reset libraries; they are overkill.
 * Refraining from using these helps minimize the need to excessively
 * (re)define properties, resulting in leaner and cleaner code that is more
 * manageable. Repeatedly redefining selectors (especially redefining unused
 * elements needlessly) is inefficient and unnecessarily taxing on the
 * browser.
 *
 * Lazy CSS displaces burden on the user's experience under the guise easing
 * development. That is selfish. Stop being lazy and selfish, y'all.
 *
 * Jayden Seric has some thoughts on the matter as well that I mostly agree
 * with.
 * http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
 *
 * Do, however, make your life easier by using Autoprefixer.
 * https://github.com/postcss/autoprefixer
 *
 * For what it's worth, I didn't use Autoprefixer on this stylesheet. YMMV
 */

*::before, *::after, * {
  /*
   Apply a more natural box layout model to all elements. This can be
   overridden by setting a specific element's `box-sizing:` to `content-box`.
   */
  box-sizing: border-box;
  /*
   Establish custom easing function.
   */
  animation-timing-function: cubic-bezier( .4, 0, .2, 1 );
  transition-timing-function: cubic-bezier( .4, 0, .2, 1 );
}

html, body {
  margin: 0;
}

html {
  /*
   Prevent fonts from automatically zooming in mobile browsers. A value of
   `100%` still allows for pinch-zoom input. (`none` disables pinch-zoom.)
   */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*
   Basic typography sets the foundation for vertical rhythm and relative size
   between elements.
   */
  font-size: 20px;
  line-height: 1.5;
  vertical-align: baseline;
  /*
   Ligagures and kerning are ALL over the place.
   */
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 1;
  font-kerning: normal;
  /*
   Chrome and Opera do not support the `auto` value for hyphens (except for
   macOS). Chrome does support `none`, however.
   http://caniuse.com/#feat=css-hyphens
   */
  hyphens: auto;
  /*
   Render fonts consistently.
   */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * -----------------------------------------------------------------------------
 * Slide Styles
 * -----------------------------------------------------------------------------
 */

html {
  background: #333;
  color: floralWhite;
  font-family: sans-serif;
  font-weight: 300;
  height: 100vh;
  text-align: center;
}

/*
 Sections
 */
header,
section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  padding: 1em;
}

h1,
h2,
h3 {
  font-family: 'Impact';
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  border-bottom: 1px dashed #555;
  margin: 0;
}

h2,
h3 {
  font-size: 3rem;
  margin: .5rem 0;
}

h3 {
  border-bottom: 1px dashed #555;
}

h4 {
  margin-bottom: 0;
}

section h3:only-child {
  border: 0;
}

/*
 Grouping
 */
p,
ul {
  width: 70vw;
  max-width: 35rem;
  margin: 1rem auto;
  text-align: left;
}

p + ul {
  margin-top: 0;
}

ul,
ol {
  text-align: left;
}

hr {
  display: none;
}

/*
 Text-level
 */
a {
  color: MediumAquaMarine;
}

em {
  margin-right: .5rem;
}

strong {
  font-weight: 600;
  border-bottom: 1px solid #444;
}

small {
  bottom: 0;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
  border-bottom: 2px dashed #666;
}

sup {
  font-size: .625rem;
}
